<!DOCTYPE html>
<html id="page" lang="{{ .Site.LanguageCode }}" prefix="og: https://ogp.me/ns#">
  {{- block "variables" . -}}{{- end -}}
  {{ partial "head.html" . }}
  <body>
    <a class="screen-reader-text" href="#main">Skip to main content</a>
    <div id="container" class="[ container ]">
      {{ $currentPage := . }}
      {{ partial "navbar.html" (dict "context" . "currentPage" $currentPage) }}
      <main class="[ main ][ full-width content-grid {{ if $.Store.Get "hasPadding" }}layout--padding{{end}} layout--spacing ]{{- if eq .Page.Kind "404" -}}[ error ]{{- end -}}" id="main">
        {{- block "main" . -}}{{- end -}}
      </main>
      {{- partial "footer.html" (dict "context" . "currentPage" $currentPage) -}}
    </div>
    {{partial "script.html" (dict "path" "scripts/components/prefetch.js" "targetPath" "scripts/prefetch.js")}}
    {{- if $.Store.Get "hasObscure"  -}}
    {{ partial "script.html" (dict "path" "scripts/components/obscure.js" "targetPath" "scripts/obscure.js") }}
    {{- end -}}
    {{- if .Store.Get "project" -}}
    {{ partial "script.html" (dict "path" "scripts/vendor/lightgallery.js" "targetPath" "scripts/lightgallery.js") }}
    {{end}}
    {{ if $.Store.Get "hasObscure" }}
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
          var bouncer = new Bouncer("[data-validate]", {
            disableSubmit: true, // Prevents submission if invalid
            emitEvents: true
          });

          document.querySelector("[data-validate]").addEventListener("bouncerFormValid", function (event) {
            let form = event.target;
            
            // Check if Netlify reCAPTCHA exists
            if (form.querySelector('[data-netlify-recaptcha]')) {
              return; // Do NOT auto-submit, let Netlify handle it
            }

            form.submit(); // If no reCAPTCHA, submit normally
          });
        });
        </script>
    {{ end }}
    {{ if $.Store.Get "hasThankYou" }}
    {{ partial "script.html" (dict "path" "scripts/components/thank-you.js" "targetPath" "scripts/thank-you.js") }}
    {{ end }}
  </body>
</html>