<footer class="[ footer ][ full-width content-grid layout--spacing layout--padding--top pb--2 ]">
  <div class="[ wrapper wrapper--footer ][ grid gap--4 ]">
    <div class="[ logo-slogan ][ grid col-gap--2 row-gap--1 ]">
      <a class="[ logo ][ flex middle mb--1 ]" href="/" aria-label="Homepage">
        {{- readFile "static/icons/logo.svg" | safeHTML }}
      </a>
      <div class="[ slogan ]">
        <p class="[ pb--0 ]">Building Dreams, <br>Strengthening Communities</p>
      </div>
    </div>
    <nav class="[ navigation--footer ][ flex middle ]">
      <ul class="[ menu--footer ][ grid md:col--2 col-gap--4 row-gap--1 ]">
        {{- $context := .context -}}
        {{- $currentPage := .currentPage -}}
        {{with $context}}
          {{ range .Site.Menus.main }}
        <li class="[ menu--footer__item ][ font--500 ]">
          <a class="[ menu--footer__link link--footer ]{{ if eq $.currentPage.RelPermalink .URL }}[ current ]{{ end }}" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
        </li>
        {{ end }}
        {{end}}
      </ul>
    </nav>
  </div>
  <div class="[ legal ][ between gap--2 ]">
    <nav class="[ md:o--2 ]">
      <ul>
        <li>
          <small><a class="[ policy ]" href="/privacy-policy">Privacy Policy</a></small>
        </li>
      </ul>
    </nav>
    <div class="[ grid gap--0.5 md:o--1 ]">
      <small class="[ copy ]">
        <span>©{{ now.Format "2006" }} Abaco Aggregate &amp; Cement, Ltd.</span> <span>All rights reserved.</span>
      </small>
      <small>Website built by <a class="[ policy ]" href="https://getclever.marketing" target="_blank" rel="noopener">Clever Marketing, Ltd.</a></small>
    </div>
  </div>
</footer>